.footer{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,121,9,1) 53%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    color: white;
    }
    
.footer-links{
display: flex;
justify-content: space-around;
color: white;
font-size: 25px;
width: 85vw;
}
.footer-links a{
    text-decoration: none;
    color: white;

}
.footer-links li{
list-style-type: none;

}
.footer-h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-li a{
    font-size: 34px;
    color: black;
}
@media only screen and (max-width: 320){
.footer-links{
    display: flex;
    flex-wrap: wrap;
}
}