body{
    font-family: 'Teko', sans-serif;
    background: rgb(223,232,235);
    background: linear-gradient(90deg, rgba(223,232,235,1) 0%, rgba(111,109,109,1) 0%, rgba(146,157,156,0.36458333333333337) 0%, rgba(31,84,35,1) 0%, rgba(34,119,38,1) 7%, rgba(60,172,81,1) 24%, rgba(24,97,48,1) 83%, rgba(3,66,5,1) 100%, rgba(113,113,113,0.5298494397759104) 100%, rgba(0,0,0,0.3225665266106442) 100%, rgba(144,30,30,1) 100%, rgba(255,255,255,1) 100%);

}